:root {
  --primary-color-text-fon: rgba(117, 117, 117, 1);
  --color-text: rgba(33, 33, 33, 1);
  --color-minitext-fon: rgba(255, 255, 255, 1);
  --color-button-text: rgba(33, 150, 243, 1);
  --hero-fon: rgba(47, 48, 58, 1);
  --fon-comand: rgba(245, 244, 250, 1);
  --footer-text: rgba(255, 255, 255, 0.6);
  --border-cards: rgba(238, 238, 238, 1);
  --act-button: rgba(24, 140, 232, 1);
  --header-bord: rgba(236, 236, 236, 1);
  --border-logo: rgba(175, 177, 184, 1);
  --overlay-background: rgba(0, 0, 0, 0.2);
  --modal-fich: rgb(255, 255, 255);
  --bg-cards: rgba(47, 48, 58, 0.8);
  --modal-border: rgba(33, 243, 178, 1);
}
body {
  background-color: var(--color-minitext-fon);
  color: var(--primary-color-text-fon);
  font-family: roboto, sans-serif;
}
/* *,
*::before,
*::after {
  outline: 1px solid red;
} */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка сайта */

.header {
  background-color: var(--color-minitext-fon);
  /* Встановить стилі нижньої рамки */
  border-bottom: 1px solid var(--header-bord);
}

.header__container {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  justify-content: center;
}
.header__item {
  margin-right: 50px;
}
.header__item:last-child {
  margin-right: 0;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-flex;
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}
.logo-web {
  color: var(--color-button-text);
}
.header__list {
  display: flex;
  flex-direction: row;
}

.header__link--act {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-button-text);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--act:hover,
.header__link--act:focus {
  color: var(--color-button-text);
}
.header__link--act::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
}
.header__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover,
.header__link:focus {
  color: var(--color-button-text);
}

.header-contact {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.header-contact__item {
  margin-right: 50px;
}
.header-contact__item:last-child {
  margin-right: 0;
}
.header-contact__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color-text-fon);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover,
.header-contact__link:focus {
  color: var(--color-button-text);
}
.header-contact__icon {
  fill: var(--primary-color-text-fon);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact__link:hover .header-contact__icon,
.header-contact__link:focus .header-contact__icon {
  fill: var(--color-button-text);
}

/* main  */

/* Секция hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.bg-hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/img-dz-four/мм.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-fon);
}

.hero > .hero__container {
  text-align: center;
  width: 700px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero__slogan {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--color-minitext-fon);
}

.hero__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 216px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  color: var(--color-minitext-fon);
  background-color: var(--color-button-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover,
.hero__button:focus {
  background-color: var(--act-button);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background);
  opacity: 1;
  transition: opacity 1400ms linear, visibility 1400ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: opacity 1400ms linear, visibility 1400ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--modal-fich);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease-in-out;
  padding: 40px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  background: var(--modal-fich);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__btn:hover .modal-btn__icon,
.modal__btn:focus .modal-btn__icon {
  fill: var(--color-button-text);
}

.modal-btn__icon {
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальное окно - форма регистрации */

.register-form__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.register-form__heading {
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
  color: var(--color-text);
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__label {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form__label:last-child {
  margin-bottom: 0;
}

.register-form__name {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  line-height: calc(14 / 12);
}

.register-form__input {
  width: 100%;
  display: block;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 400ms;
}

.register-form__input:focus,
.register-form__input:hover {
  border-color: var(--color-button-text);
}

.register-form__icon {
  position: absolute;
  fill: var(--color-text);
  top: 50%;
  left: 10px;

  transition: fill 400ms;
}

.register-form__input:focus ~ .register-form__icon,
.register-form__input:hover ~ .register-form__icon {
  fill: var(--color-button-text);
}

.register-form__title {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.register-form__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 18px;

  font-size: 14px;

  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.register-form__message::placeholder {
  font-size: 12px;
}

.register-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin-bottom: 30px;
}

.register-form__icon-checked {
  opacity: 0;
  fill: var(--act-button);
  transition: opacity 400ms;
}

.register-form__checkbox:checked + .register-form__agreement-icons .register-form__icon-checked {
  opacity: 1;
}

.register-form__icon-unchecked {
  transition: opacity 400ms;
}

.register-form__checkbox:checked + .register-form__agreement-icons .register-form__icon-unchecked {
  opacity: 0;
}
.register-form__checkbox + .register-form__agreement-icons .register-form__icon-unchecked {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__checkbox:focus + .register-form__agreement-icons .register-form__icon-unchecked {
  opacity: 0;
}

.register-form__checkbox:focus + .register-form__agreement-icons {
  border-radius: 2px;
  border: 2px solid var(--act-button);
}
.register-form__checkbox:focus + .register-form__agreement-icons {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__desc {
  font-size: 14px;
  user-select: none;
}

.register-form__link {
  color: var(--color-button-text);
}

.register-form__btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 52px;
  min-width: 200px;
  min-height: 50px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  color: var(--color-minitext-fon);
  background-color: var(--color-button-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}

.register-form__btn:hover,
.register-form__btn:focus {
  background-color: var(--act-button);
}

/* Секция - Особенности */

/* .feature {
} */

.feature__hiden-txt {
  /* !!!!!ПРОВЕРИТЬ ПРАВИЛЬНОСТЬ СКРЫТИЯ!!!!! */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature__list {
  display: inline-flex;
}
.feature__item {
  flex-basis: 270px;
  margin-right: 30px;
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__directions-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--fon-comand);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__directions-icon {
  fill: var(--border-logo);
}

.feature__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-transform: uppercase;
}

.feature__txt {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color-text-fon);
}

/* Секция - чем ми занимаемся */

.services {
  padding-top: 0;
}

.services__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text);
}
.services__list {
  display: flex;
  gap: 30px;
}
.services__item {
  display: flex;
}

.services__box-imgtext {
  position: relative;
}

/* .services__works-foto {
} */

.services__imgtext {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-minitext-fon);
  background: var(--bg-cards);
}

/* наша команда */

.team {
  text-align: center;
  background-color: var(--fon-comand);
}
.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text);
}
.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  background-color: var(--color-minitext-fon);
  border-radius: 4px;
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:last-child {
  margin-right: 0;
}

.team__foto {
  margin-top: 0;
}

.team__box {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.team__works-name {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
.team__works-profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__socnet-list {
  display: flex;
  justify-content: center;
}

.team__socnet-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team__socnet-item:last-child {
  margin-right: 0px;
}

.team__socnet-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-minitext-fon);
  fill: var(--border-logo);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__socnet-link:hover,
.team__socnet-link:focus {
  background-color: var(--color-button-text);
  color: var(--color-minitext-fon);
  cursor: pointer;
}

.team__socnet-link:hover .team__socnet-icon,
.team__socnet-link:focus .team__socnet-icon {
  fill: var(--color-minitext-fon);
}

.team__socnet-icon {
  fill: rgb(175, 177, 184);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Постійні клієнти */

/* .client{
} */

.client__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text);
}

.client__list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.client__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.client__item:last-child {
  margin-right: 0px;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: transparent;
  border: 1px solid var(--border-logo);
  border-radius: 4px;
  background-color: var(--color-minitext-fon);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
  border: 1px solid var(--color-button-text);
}

.client__logo {
  fill: var(--border-logo);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__logo,
.client__link:focus .client__logo {
  fill: var(--color-button-text);
}

/*  ФУТЕР */

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--hero-fon);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: flex;
  margin-bottom: 20px;
  font-family: raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-minitext-fon);
  text-decoration: none;
}
.footer__address {
  font-style: normal;
}

/* .footer__list{} */

.footer__item {
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-minitext-fon);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__map:hover,
.footer__map:focus {
  color: var(--color-button-text);
}
.footer__contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact:hover,
.footer__contact:focus {
  color: var(--color-button-text);
}

/* соцсети футера */

.footer__goin {
  margin-left: 70px;
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-minitext-fon);
  margin-bottom: 20px;
}

.footer__soc-list {
  display: flex;
  justify-content: normal;
}

.footer__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer__soc-item:last-child {
  margin-right: 0px;
}

.footer__soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__soc-icon {
  fill: var(--color-minitext-fon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__soc-link:hover,
.footer__soc-link:focus {
  background-color: var(--color-button-text);
  cursor: pointer;
}

.footer__soc-link:hover .footer__soc-icon,
.footer__soc-link:focus .footer__soc-icon {
  fill: var(--color-minitext-fon);
}

/* ФУТЕР e-mail input (Подписаться) */

.footer__subscribe {
  margin-left: auto;
}
.footer__subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.footer__subscribe-form {
  position: relative;
  display: flex;
}

.footer__subscribe-email {
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: #2f303a;
  border-radius: 4px;
  margin-right: 12px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscribe-button {
  width: 200px;
  display: inline-flex;
  height: 50px;
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border: 0 rgb(33, 150, 243);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px 28px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
  background-color: var(--act-button);
}

.footer__subscribe-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}

/*  ПОРТФОЛИО */

/* .main-portfolio {}
.portfolio {} */

.portfolio__hidden-txt {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__item {
  display: inline flex;
  margin-right: 8px;
}
.portfolio__item:last-child {
  margin-right: 0;
}
.portfolio__button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  text-align: center;
  border: 0px;
  cursor: pointer;
  background-color: var(--fon-comand);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-minitext-fon);
  background-color: var(--color-button-text);
}

.portfolio__button--act {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  display: inline-block;
  padding: 6px 25px;
  color: var(--color-minitext-fon);
  background-color: var(--color-button-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__button--act:hover,
.portfolio__button--act:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--color-minitext-fon);
  background-color: var(--color-button-text);
}

/* наши работы */

.portfolio__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.portfolio__card-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__card-link {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card-link:hover,
.portfolio__card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-position {
  position: relative;
  overflow: hidden;
}

/* .portfolio__card-foto {} */

.portfolio__card-board {
  padding: 20px 24px;
  border: 1px solid var(--border-cards);
  border-top: none;
}
.portfolio__card-title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
}
.portfolio__card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color-text-fon);
}

.portfolio__text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms ease-in;
}

.portfolio__card-link:hover .portfolio__text,
.portfolio__card-link:focus .portfolio__text {
  transform: translate(0);
}
